<h3>Round <%= session[:num_rounds] %>, <%= session[:player_name] %>'s turn</h3>

<div class="person-info" id="player-info">
  <div class="row">
    <div class="large-2 columns">
      <h4><%= session[:player_name] %></h4>
    </div>
    <div class="large-10 columns">
      <h4>Cards:</h4>
    </div>
  </div>
  <div class="row">
    <div class="large-2 columns">
      <p>Money: $<%= session[:money] %></p>
      <p>Current bet: $<%= session[:bet] %></p>
    </div>
    <div class="large-10 columns">
      <p>
        <% session[:player_cards].each do |card| %>
          <%= display(card) %>
        <% end %>
      </p>
    </div>
  </div>
</div>

<div class="person-info" id="dealer-info">
  <div class="row">
    <div class="large-2 columns">
      <h4>Dealer</h4>
    </div>
    <div class="large-10 columns">
      <h4>Cards:</h4>
    </div>
  </div>
  <div class="row">
    <div class="large-2 columns">
      <p></p>
    </div>
    <div class="large-10 columns">
      <p>
        <% session[:dealer_cards].each do |card| %>
          <%= display(card) %>
        <% end %>
      </p>
    </div>
  </div>
</div>

<div class="button-group round">
  <form action="/game/player/hit" method="post">
    <input type="submit" class="button" value="Hit" />
  </form>
  <form action="/game/player/double_down" method='post'>
    <input type="submit" class="button alert" value="Double down" />
  </form>
  <form action="/game/player/stay" method='post'>
    <input type="submit" class="button success" value="Stay" />
  </form>
</div>


