<h3>Round <%= session[:num_rounds] %>, <%= session[:player_name] %>'s turn</h3>

<div class="person-info" id="player-info">
  <div class="row">
    <div class="large-2 columns">
      <h3><%= session[:player_name] %></h3>
      <p>Money: $<%= session[:money] %></p>
      <p>Current bet: $<%= session[:bet] %></p>
    </div>
    <div class="large-10 columns">
      <div class='row'>
        <h3>Cards:</h3>
      </div>
      <div class = 'row'>
        <div class="large-1 columns">
          <p>Card 1</p>
        </div>
        <div class="large-1 columns">
          <p>Card 2</p>
        </div>
        <div class="large-1 columns">
          <p>Card 3</p>
        </div>
        <div class="large-1 columns">
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="person-info" id="dealer-info">
  <div class="row">
    <div class="large-2 columns">
      <h3>Dealer</h3>
    </div>
    <div class="large-10 columns">
      <div class='row'>
        <h3>Cards:</h3>
      </div>
      <div class = 'row'>
        <div class="large-1 columns">
          <p>Card 1</p>
        </div>
        <div class="large-1 columns">
          <p>Card 2</p>
        </div>
        <div class="large-1 columns">
          <p>Card 3</p>
        </div>
        <div class="large-1 columns">
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="choices">
  <a class="button radius">Hit</a>
  <a class="button radius alert">Double down</a>
  <a class="button radius success">Stay</a>
</div>

<div class="updates">
  <p>Hal hit. It's A of Diamond!</p>
</div>