
<% if session[:turn] == "player" %>
  <h3>Round <%= session[:num_rounds] %>, <%= session[:player_name] %>'s turn</h3>
<% else %>
  <h3>Round <%= session[:num_rounds] %>, dealer's turn</h3>
<% end %>

<div class="person-info" id="player-info">
  <div class="row">
    <div class="large-2 columns">
      <h4><%= session[:player_name] %></h4>
    </div>
    <div class="large-10 columns">
      <h4>Cards:</h4>
    </div>
  </div>
  <div class="row">
    <div class="large-2 columns">
      <p>Money: $<%= session[:money] %></p>
      <p>Current bet: $<%= session[:bet] %></p>
    </div>
    <div class="large-10 columns">
      <p>
        <% session[:player_cards].each do |card| %>
          <%= display(card) %>
        <% end %>
      </p>
    </div>
  </div>
</div>

<div class="person-info" id="dealer-info">
  <div class="row">
    <div class="large-2 columns">
      <h4>Dealer</h4>
    </div>
    <div class="large-10 columns">
      <h4>Cards:</h4>
    </div>
  </div>
  <div class="row">
    <div class="large-2 columns">
      <p></p>
    </div>
    <div class="large-10 columns">
      <p>
        <% session[:dealer_cards].each do |card| %>
          <%= display(card) %>
        <% end %>
      </p>
    </div>
  </div>
</div>

<% if session[:turn] == "player" %>
  <%if @set_bet %>
    <form action="/game/player/set_bet" method="post">
      <div class="row">
        <div class="large-4 columns">
          <label>How much does <%= session[:player_name] %> want to bet?</label>
          <input type="number" name="bet" min="1" max="<%= @max_bet %>" required placeholder="Min $1. Max $<%= @max_bet %>."/>
          <input type="submit" class="button round" value="Bet" />
        </div>
      </div>
    </form>
  <% end %>

  <%if !@set_bet && !@lose_msg %>
    <div class="button-group round">
      <form action="/game/player/hit" method="post">
        <input type="submit" class="button" value="Hit" />
      </form>
      <%if (session[:money] >= session[:bet]) && (session[:player_cards].count > 2) %>
        <form action="/game/player/double_down" method='post'>
          <input type="submit" class="button alert" value="Double down" />
        </form>
      <% end %>
      <form action="/game/player/stay" method='post'>
        <input type="submit" class="button success" value="Stay" />
      </form>
    </div>
  <% end %>
<% else %>
  <% sleep DELAY %>
  <% check_scores %>
  <% dealer_choice %>
<% end %>


<%if @update_msg %>
  <div data-alert class="alert-box info radius">
    <p><%= @update_msg %></p>
  </div>
<% end %>
<%if @lose_msg %>
  <div data-alert class="alert-box alert radius">
    <p><%= @lose_msg %></p>
  </div>
  <div class="button-group round">
    <form action="/game/again" method="post">
      <input type="submit" class="button success" value="Play Again" />
    </form>
    <form action="/game/end" method='post'>
      <input type="submit" class="button alert" value="Leave" />
    </form>
  </div>
<% end %>




