<!DOCTYPE html>
<html>

  <head>
    <title>The Blackjack Game</title>
    <link rel="stylesheet" href="/vendor/foundation/css/foundation.min.css">
    <link rel="stylesheet" href="/application.css">
    <script src="/vendor/foundation/js/vendor/modernizr.js"></script>
    <script src="/vendor/foundation/js/vendor/jquery.js"></script>
    <script src="/vendor/foundation/js/foundation.min.js"></script>
  </head>

  <body>
    <%= yield %>

    <h3> Debugging zone </h3>
    <p>
      Player score: <%= score(session[:player_cards]) %> <br />
      Dealer score: <%= score(session[:dealer_cards]) %> <br />
      Win_msg: <%= @win_msg %> <br />
      Lose_msg: <%= @lose_msg %> <br />
      Tie_msg: <%= @tie_msg %> <br />
    </p>

  </body>
</html>
